<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qalam</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <header>Ijodkorlar saytiga hsuh kelibsiz</header>
    <hr>
    <nav>
        <i>She'rlar</i>
        <i>Maqolalar</i>
        <i>Yutuqlar</i>
        <i>Qo'shiqlar</i>
        <i class="login"><a href="/auth/signup">Kirish</a></i>
        <i class="signin"><a href="/auth/signin">Ro'yxatdan o'tish</a></i>
    </nav>
    <hr>
    <section>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non saepe excepturi repellendus, aut sequi, iste accusantium quia id expedita provident et possimus sed quisquam modi. Vitae impedit dolor magnam perspiciatis nisi dolores quasi nobis laboriosam vel. Nobis ab nam pariatur.
    </section>
</body>
</html>